<!DOCTYPE html>
<html>
<title>
Contact Rango
</title>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #abebc6;
}
</style>
</head>
<body bgcolor="#4CAF50">

<ul>
  <li><a href="/rango/">Home</a></li>
  <li><a href="/rango/about/">About</a></li>
  <li><a href="/admin/">Admin</a></li>
  <li><a href="/rango/contact/">Contact</a></li>
</ul>

<p >  <font color="white"><i>You can call us at 8554835778 or Email : gaurav7x7@gmail.com </i> </p>



</body>
</html>
